html, body, .container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.super-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  background-position: center center;
}
a {
  color: white;
}
h1 {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  font-family: 'helvetica neue';
  color: white;
  font-size: 30px;
  font-weight: 100;
}
h2 {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-family: 'helvetica neue';
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.loader, .error {
  color: white;
  position: absolute;
  z-index: 1000;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  // margin-left: -62.5px;
  transform: translate3d(-50%,0,0);
  span {
    font-family: 'helvetica neue';
    color: white;
    display: inline-block;
    background-color: black;
    font-size: 30px;
    font-weight: 100;
    padding:15px;
    text-align: center;
    box-sizing: border-box;
    // width: 125px;
  }
}
