
<div ng-show="loading" class="loader">
  <span>Loading</span>
</div>
<div ng-show="error && pendingCount() < bufferSize" class="error">
  <span>Server Error :(</span>
</div>
<div class="super-background" style="background-image: url({{featuredLast}})"></div>
<div class="super-background" style="background-image: url({{featured}})"></div>
